 <!-- STRAT NAVBAR -->
 <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" (window:scroll)="windowScroll()"
   id="navbar">
   <div class="container">
     <!-- LOGO -->
     <a class="navbar-brand logo text-uppercase" href="/">
       <img src="assets/images/logo.png" alt="logo image" class="text-left" height="25px">
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
       aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
       <i class="mdi mdi-menu"></i>
     </button>
     <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav navbar-center" id="mySidenav">
         <li class="nav-item" [ngClass]="{'active':currentSection === 'home'}">
           <a [ngxScrollTo]="'#home'" href="javascript: void(0);" class="nav-link">Home</a>
         </li>
         <li class="nav-item" [ngClass]="{'active':currentSection === 'services'}">
           <a [ngxScrollTo]="'#services'" href="javascript: void(0);" class="nav-link">Services</a>
         </li>
         <li class="nav-item" [ngClass]="{'active':currentSection === 'features'}">
           <a [ngxScrollTo]="'#features'" href="javascript: void(0);" class="nav-link">Features</a>
         </li>
         <!-- <li class="nav-item" [ngClass]="{'active':currentSection === 'pricing'}">
           <a [ngxScrollTo]="'#pricing'" href="javascript: void(0);" class="nav-link">Pricing</a>
         </li> -->
         <li class="nav-item" [ngClass]="{'active':currentSection === 'team'}">
           <a [ngxScrollTo]="'#team'" href="javascript: void(0);" class="nav-link">Team</a>
         </li>
         <!-- <li class="nav-item" [ngClass]="{'active':currentSection === 'blog'}">
           <a [ngxScrollTo]="'#blog'" href="javascript: void(0);" class="nav-link">Blog</a>
         </li> -->
         <li class="nav-item" [ngClass]="{'active':currentSection === 'contact'}">
           <a [ngxScrollTo]="'#contact'" href="javascript: void(0);" class="nav-link">Contact</a>
         </li>
       </ul>
       <div class="nav-button ml-auto">
         <ul class="nav navbar-nav navbar-right">
           <li>
             <button onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLScYHT7mUm6N9kROzVR_K_vRMIqcST4IL7VW_Dy4BAATAJVZUQ/viewform?usp=sf_link','_blank')" target="_blank" type="button" class="btn btn-custom navbar-btn btn-rounded">Apply your project</button>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </nav>
 <!-- END NAVBAR -->
 <!--START HOME-->
 <section class="section bg-home home-half" id="home" data-image-src="images/ocean_1.png">
   <div class="bg-overlay"></div>
   <div class="display-table">
     <div class="display-table-cell">
       <div class="container">
         <div class="row">
           <div class="col-lg-8 offset-lg-2 text-white text-center">
             <h1 class="home-title">Reimagining Liquidity</h1>
             <p class="padding-t-15 home-desc">Whitelist your project in our first liquidity directing governance</p>
             <!-- <p class="play-shadow margin-t-30 margin-l-r-auto"><a (click)="openModal(content)"
                 class="play-btn video-play-icon"><i class="mdi mdi-play text-center"></i></a></p> -->
             <p class="play-shadow margin-t-30 margin-l-r-auto"><a href="https://docs.google.com/forms/d/e/1FAIpQLScYHT7mUm6N9kROzVR_K_vRMIqcST4IL7VW_Dy4BAATAJVZUQ/viewform?usp=sf_link" target="_blank"
                 class="hovercursor">Form<i class="mdi mdi-play text-center"></i></a></p>
           </div>

           <ng-template #content let-modal>
             <div class="modal-header">
               <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <youtube-player [videoId]="id" (ready)="savePlayer($event)" height="450" width="780"
                 (change)="onStateChange($event)">
               </youtube-player>
             </div>
           </ng-template>
         </div>
       </div>
     </div>
   </div>
   <div class="bg-pattern-effect">
     <img src="assets/images/bg-pattern.png" alt="" />
   </div>
 </section>
 <!--END HOME-->
 <div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
   <app-services></app-services>
   <app-features></app-features>
   <!-- <app-pricing></app-pricing> -->
   <app-team></app-team>
   <!-- <app-blog></app-blog> -->
   <app-contact></app-contact>
   <app-footer></app-footer>
 </div>
