<!--END ABOUT US-->
<section class="section bg-light" id="features">
  <div class="container">
    <div class="row vertical-content">
      <div class="col-lg-5">
        <h1 class="section-title text-center">Features</h1>
        <div class="section-title-border margin-t-20"></div>
        <div class="features-box padding-t-30">
          <h3>An easy to use interface that does the job efficiently.</h3>
          <p class="text-muted web-desc">Your asset values more and liquidity should not stand in the way.</p>
          <ul class="text-muted list-unstyled margin-t-30 features-item-list">
            <li class="">Cheap rates for your liquidity.</li>
            <li class="">Fast liquidity directing.</li>
            <li class="">Create room for allevating your deflationary tokenomics.</li>
            <li class="">Sustainable and stable pool.</li>
          </ul>
          <a href="https://lemmatron.medium.com/" class="btn btn-custom margin-t-30" target="_blank">Learn More <i
              class="mdi mdi-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="features-img features-right text-right">
          <img src="assets/images/online-world.svg" alt="macbook image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!--END ABOUT US-->

<!--START WEBSITE-DESCRIPTION-->
<section class="section section-lg bg-web-desc">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-white">Don't let your liquidity drag your project down</h2>
        <p class="padding-t-15 home-desc">Explore our paper and know how to your business can leverage our highly sustainable model to excel.</p>
        <a href="assets\whitepaper\whitepaper(v1).pdf" class="btn btn-bg-white margin-t-30 mb-5" target="_blank">Read Whitepaper</a>
      </div>
    </div>
  </div>
  <div class="bg-pattern-effect">
    <img src="assets/images/bg-pattern.png" alt="">
  </div>
</section>
